.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #00adb5;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  color: #eeeeee;
}

h2 {
  margin: 30px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  color: #black;
}

p {
  font-size: 2rem;
  color: #686d76;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

